# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Environments
venv/
.env

# Slurm logs
slurm-*.out

# OS cruft
.DS_Store

# Experiment outputs
Experiments/**/times/
Experiments/**/plots/
Experiments/**/logs/
/.idea/dictionaries
/.idea
*.so
*.results
/Experiments/1d/testResultsFolder
/Testing/results
